* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************VÁRIAVEIS *********************/

:root {
    --bg-color: #292C33;
    --light-blue: #89D8E3;
    --dark-blue: #082B76;
    --white: #FFFFFF;
    --footer: #333333;
    --gray: #bcbcbc;

}

body {
    background-color: var(--bg-color);
    font-family: 'Source Sans 3', sans-serif;

}

#main {
    height: 100vh;
    padding: 150px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**************************LADO COM OS ICONES *********************/
.left-side {
    max-width: 450px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1000;
    left: 40px;

}

.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    background-color: var(--white);
    width: 200px;
    height: 230px;
    margin: 10px;
    padding: 0 15px;

}

.card i {
    color: var(--light-blue);
    font-size: 50px;

}

.card h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 30px;


}

/**************************LADO COM O FORMULÁRIO *********************/

.side-right {
    background-color: var(--light-blue);
    z-index: 999;
    height: 95vh;
    padding: 0 50px 0 100px;
    position: relative;
    right: 40px;
}

.side-right h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    text-align: center;
    padding: 50px 0;
    max-width: 450px;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

form input {
    padding: 15px 0;

}

input::placeholder {
    color: var(--gray);
}

form input, textarea {
    width: 100%;
    outline: none;
    border: 0;
    margin-bottom: 30px;
    padding-left: 15px;
    font-size: 1.1rem;
    color: var(--gray);
}

form textarea {
    padding: 30px 0;
    resize: none;
    padding-left: 15px;
}

form input[type=submit] {
    align-self: center;
    width: 150px;
    color: var(--dark-blue);
    text-transform: uppercase;
    font-size: 1.1rem;
    /*Devido ao espaçamentos do outros input */
    padding-left: 0;
    font-weight: 700;
    background-color: var(--light-blue);
    border: 2px solid var(--white);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

form input[type=submit]:hover {

    background-color: var(--white);

}

/**************************RODAPÉ *********************/

footer {
    padding: 30px 0;
    background-color: var(--footer);
    display: flex;
    justify-content: center;
    align-items: center;


}

footer {
    color: var(--white);
    font-weight: 400;

}

footer a {
    color: var(--white);
    text-decoration: none;
    transition: all 0.5s linear;
}

footer a:hover {
    text-decoration: underline;
}